*{
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
}

.toggle:hover {
    background-color: rgb(63, 63, 63);
}

.result{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 2vh;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 1vh;
}

.gamePrice{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 1vh;
    margin: 2px;
    color: greenyellow;
}

.gameDesc{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 1vh;
    margin: 2px;
}

.gameImg{
    border-radius: 5px;
}

.gameTag{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 1vh;
    margin: 2px;
}