*{
    background-color: rgb(63, 63, 63);
    font-family: Arial, sans-serif;
}

body {
    color: white;
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
    height: 100vh;
}

h1 {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 3vh;
    margin-bottom: 0;
}

.searchform{
    grid-row: 3;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 0;
    margin-bottom: 10px;
}

input {
    height: 5vh;
    font-size: 1.5em;
    border-radius: 2vh;
    padding: 1vh;
    color: whitesmoke;
    width: 70%;
}

#clustered-btn {
    grid-row: 2;
    grid-column: 2;
    border-radius: 5px;
    height: 5vh;
    font-size: 1.5em;
    padding: 1vh;
    background-color: rgb(173, 173, 173);
    color: white;
    cursor: pointer;
    margin-left:1vh;
}

.browseform{
    grid-row:4;
}

#browse-btn {
    border-radius: 5px;
    height: 5vh;
    font-size: 1.5em;
    padding: 1vh;
    background-color: rgb(173, 173, 173);
    color: white;
    cursor: pointer;
    margin-left:1vh;
}

#browse-btn:hover {
    background-color: rgb(63, 63, 63);
}

#clustered-btn:hover {
    background-color: rgb(63, 63, 63);
}

#btn {
    border-radius: 5px;
    height: 5vh;
    font-size: 1.5em;
    padding: 1vh;
    background-color: rgb(173, 173, 173);
    color: white;
    align-self: center;
    cursor: pointer;
    margin-left:1vh;
}

#btn:hover {
    background-color: rgb(63, 63, 63);
}

.results {
    grid-row: 5;
    grid-column: 1 / span 3;
    margin: 3vh;
    border: 2px solid white;
    border-radius: 2vh;
    padding: 2vh;
    box-shadow: 0 2vh 4vh rgb(0, 0, 0);
    max-height: calc(100vh - 12vh); /* Adjust max height based on content */
    overflow-y: auto; /* Display scrollbar only if needed */
    scrollbar-width: none;
    
}
.resultList {
    display: grid;
    gap: 5px;
    overflow-x: hidden;
}

.rating{
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
    padding: 1vh;
    color: rgb(175, 175, 253);
    margin: 2px;
}

.price{
    color: greenyellow;
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
    padding: 1vh;
    margin: 2px;
}

.viewlink{
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
    padding: 1vh;
    margin: 2px;
}

.gameDesc {
    width: 50%;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    border: 1px solid white;
    border-radius: 5px;
    padding: 1vh;
    margin: 2px;
}

.gameImg{
    border-radius: 5px;
}

.gameConts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1vh;
}

.result {
    padding: 1vh;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: wrap;
    width: 80%;
}

.noRes{
    color: rgb(173, 173, 173);
}

.result a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.result a:hover{
    color: rgb(173, 173, 173);
}

.result a:visited{
    color: white;
}

#price_range{
    align-self: center;
    padding: 1vh;
    font-size: 1.5em;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}