<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Daniel Dorigo Giovanni Elisei">
    <title>Indie Game Lookout</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cluster.css' %}">
    <link rel="icon" href="{% static 'binoculars_17010397.png' %}" type="image/x-icon">
</head>
<body>
    <h1>The Indie Game Lookout: Game Clusters</h1>
    <button type="button" id="clustered-btn" onclick="window.location.href='/'">Switch to Individual Search</button>
    <div class="results">
    {% for cluster in clusters %}
        <h2>
            <button 
            style="
                background-color: rgb(173, 173, 173);
                border-radius: 5px;
                padding: 1vh;
                font-size: 1.5em;
                cursor: pointer;
                border: 1px solid white;
            " 
            onclick="toggleCluster('cluster-{{ cluster.cluster }}')">{{ cluster.cluster_label }}</button>
            
        </h2>
        <ul id="cluster-{{ cluster.cluster }}" style="display: none;">
            {% for game in games %}
                {% if game.cluster == cluster.cluster %}
                    <div class="result">
                        <img src="{% static game.image_path %}" style="height: 250px;" alt="{{ game.title }} image" class="gameImg">
                        
                    <div class="gameSpec">
                        <h2>{{ game.title }}</h2> 
                        <div class="gameDesc">{{ game.description }}</div>
                        <div class="gameTag">{{ game.tags }}</div>
                        <div class="gamePrice">Price: {{ game.price }}</div>
                        <div class="viewlink">
                            {% if game.db_path == './itch.db' %}
                                <a href={{game.url}} target="_blank">View on itch.io</a>
                            {% elif game.db_path == './steam.db' %}
                                <a href={{game.url}} target="_blank">View on Steam</a>
                            {% elif game.db_path == './gog.db' %}
                                <a href={{game.url}} target="_blank">View on GOG</a>
                            {% else %}
                                <a href={{game.url}} target="_blank">View on the official website</a>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>
    <script>
        function toggleCluster(clusterId) {
            var clusterElement = document.getElementById(clusterId);
            if (clusterElement.style.display === "none") {
                clusterElement.style.display = "block";
            } else {
                clusterElement.style.display = "none";
            }
        }
    </script>
</body>
</html>
