<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Dorigo Giovanni Elisei">
    <title>Indie r Lookout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'binoculars_17010397.png' %}" type="image/x-icon">
</head>
<body>
    <main>
        <h1>The Indie r Lookout</h1>
        <form method="get" action="{% url 'search_games' %}">
            <input id="query" name="q" type="text" placeholder="What are you looking for?">
            <button type="submit" id="btn">Search</button>
        </form>

        <div class="results">
            {% if results %}
                <h2>Search Results:</h2>
                <div class="resultList">
                    {% for r in results %}
                        <div class="result">
                            <img src="{% static r.image_path %}" alt="{{ r.title }} image" style="max-height: 250px;" class="gameImg">
                            <div class="gameConts">
                            <h2>{{ r.title }}</h2>
                            <div class="gameDesc">{{ r.description }}</div>
                            <div class="rating">Rated {{ r.rating }}</div>
                            <div class="price">Price: {{ r.price }}</div>
                            <div class="viewlink">
                                {% if r.db_path == './itch.db' %}
                                    <a href={{r.url}} target="_blank">View on itch.io</a>
                                {% elif r.db_path == './steam.db' %}
                                    <a href={{r.url}} target="_blank">View on Steam</a>
                                {% elif r.db_path == './gog.db' %}
                                    <a href={{r.url}} target="_blank">View on GOG</a>
                                {% else %}
                                    <a href={{r.url}} target="_blank">View on the official website</a>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <span class="noRes"><b>No results yet . . . </b></span>
            {% endif %}
        </div>
    </main>
</body>
</html>
